body{
    padding: 100px;
}
.submit-area{
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    padding-top: 50px;
    padding: 50px;
}
#transaction-area{
    display: none;
}
.deposit, .withdraw, .balance{
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightcoral;
}
.balance{
    background-color: orange;
}
.mt-3, .my-3 {
    margin-top: 6rem!important;
}
